[submodule "src/wt931"]
	path = src/wt931
	url = https://github.com/Lenny-Lee-ustb/Witsensor-IMU-ros-pkg.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/wjwwood/serial.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
