<?xml version="1.0"?>
<launch>
    <!-- Spawn RTK read module !! -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" name="RTK_GPS" clear_params="true" output="screen">
       <!-- <param name = "port" type="string" value = "/dev/ttyUSB0"/>  -->
       <param name = "port" type="string" value = "/dev/RTK"/> 
       <param name = "baud" type="int" value = "115200"/> 
       <param name = "frame_id" type="string" value = "RTK"/>
    </node>

    <!-- Convert rtk topic !!  -->
    <node name="rtk_pub" pkg="rtk-bnav" type="rtk_pub.py" output="screen"/>

    <!--Load fixed path !!  -->
    <node pkg="path_load" type="path_load.py" name="path_loader" >
        <param name="file_path" value="$(find path_load)/src/data_curve.csv" />
        <param name="pub_hz" value="3" />
    </node>

    <param name = "ID" type="string" value ="0"/>    
    <arg name="node_name" default="imu_0"></arg>
    <node pkg="wt931" type="IMU_pub.py" name="$(arg node_name)" clear_params="true" output="screen" >
        <param name = "serialport_name" type="string" value = "/dev/IMU"/> 
        <param name = "baudrate" type="int" value = "921600"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="display" args="-d $(find localization)/rviz/navigation.rviz" required="true"/>

    <!-- broadcast map->odom tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="odom_static_transform_publisher" args="0 0 0 1.5708 0 0 map odom " />
    <node pkg="tf2_ros" type="static_transform_publisher" 
            name="rtk_static_transform_publisher" args="0 0 0 0 0 0 base_footprint gps_link " />
    <!-- Broadcast imu tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" 
            name="imu_static_transform_publisher" args="0 0 0 0 0 0 base_footprint imu_link " />
</launch>
