<?xml version="1.0"?>
<launch>
    <!-- Spawn core IMU !! -->
    <node pkg="wt931" type="main_cpp" name="imu_wt906" clear_params="true" output="screen" >
       <param name = "serialport_name" type="string" value = "/dev/ttyUSB1"/> 
       <param name = "baudrate" type="int" value = "921600"/>
    </node>

    <!-- Broadcast imu tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" 
            name="imu_static_transform_publisher" args="0 0 0 0 0 0 base_footprint imu_link " />
</launch>
